@charset "utf-8";
@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
.navyheader{
	font-family: "Segoe UI";
}
.carousel-1-title{
    text-align: left;
    font-family: "Segoe UI";
    font-weight: lighter;
    line-height: 38px;
    font-size: 55px;
}
.carousel-1-sign-up{
    margin-left: 90%;
}